<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragment :: header(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客发布</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css">
</head>
<body>

<!--导航-->
<nav th:replace="admin/_fragment :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">博客管理</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="small home icon"></i>博客</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="small idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="small tags icon"></i>标签</a>
            <div class="right menu m-item m-mobile-hide">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="https://i.picsum.photos/id/1003/100/100.jpg" class="ui avatar image" alt="">
                        HYN
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--菜单按钮,大屏时隐藏，手机端显示，toggle用于jQuery获取，menu可以让按钮样式正好合适,m-right-top定义按钮绝对位置，
     m-mobile-show设置按钮小屏显示，大屏不显示-->
    <a href="#" class="toggle menu ui black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!--二级导航-->
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" class="active teal item">发布</a>
            <a href="#" class="item">列表</a>
        </div>
    </div>
</div>

<!--中间内容-->
<div class="m-container m-padded-tb-big">
    <div class="ui container">
        <form id="blog-form" class="ui form" th:object="${blog}" th:action="@{/admin/blogs}" action="#" method="post">
            <!--隐含域，是否发布-->
            <input type="hidden" name="published">
            <!--隐含域，如果是博客修改而非新增，则把id传给后端-->
            <input type="hidden" name="id" th:value="*{id}">

            <div class="required field">
                <div class="ui left labeled input">
                    <div class="ui selection teal basic dropdown compact label">
                        <input type="hidden" value="原创" name="flag" th:value="*{flag}">
                        <i class="dropdown icon"></i>
                        <div class="text">原创</div>
                        <div class="menu">
                            <div class="item" data-value="原创">原创</div>
                            <div class="item" data-value="转载">转载</div>
                            <div class="item" data-value="翻译">翻译</div>
                        </div>
                    </div>
                    <input type="text" name="title" placeholder="标题" th:value="*{title}">

                </div>
            </div>
            <div class="required field">
                <div id="md-content" style="z-index: 1 !important; ">
                    <textarea placeholder="博客内容" name="content" style="display: none " th:text="*{content}"></textarea>
                </div>
            </div>

            <div class="two fields">
                <div class="required field">
                    <div class="ui left labeled action input">
                        <label class="ui compact label teal basic">分类</label>
                        <div class="ui fluid selection dropdown">
                            <input type="hidden" name="type.id" th:value="*{type} != null ? *{type.id}">
                            <i class="dropdown icon"></i>
                            <div class="default text">分类</div>
                            <div class="menu">
                                <div th:each="type : ${types}" th:data-value="${type.id}" th:text="${type.name}" class="item" data-value="1">JVM</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left labeled action input">
                        <label class="ui compact label teal basic">标签</label>
                        <div class="ui fluid multiple search selection dropdown">
                            <input type="hidden" name="tagIds" th:value="*{tagIds}">
                            <i class="dropdown icon"></i>
                            <div class="default text">标签</div>
                            <div class="menu">
                                <div th:each="tag : ${tags}" th:data-value="${tag.id}" th:text="${tag.name}" class="item" data-value="1">Java</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--首图-->
            <div class="required field">
                <div class="ui left action labeled input">
                    <label class="ui label teal basic">首图</label>
                    <input type="text" name="firstPic" placeholder="首图引用地址" th:value="*{firstPic}">
                </div>
            </div>

            <div class="required field">
                <textarea name="description" th:text="*{description}" placeholder="博客描述..." maxlength="200"></textarea>
            </div>

            <div class="inline fields">
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" class="hidden" id="recommend" checked th:checked="*{recommend}" name="recommend">
                        <label for="recommend">推荐</label>
                    </div>
                    <div class="ui checkbox">
                        <input type="checkbox" class="hidden" id="shareStatement" th:checked="*{shareStatement}" name="shareStatement">
                        <label for="shareStatement">转载声明</label>
                    </div>
                    <div class="ui checkbox">
                        <input type="checkbox" class="hidden" id="appreciation" th:checked="*{appreciation}" name="appreciation">
                        <label for="appreciation">赞赏</label>
                    </div>
                    <div class="ui checkbox">
                        <input type="checkbox" class="hidden" id="comment" th:checked="*{comment}" name="comment">
                        <label for="comment">评论</label>
                    </div>
                </div>
            </div>
            <!--错误提示信息-->
            <div class="ui error message"></div>

            <div class="ui right aligned container">
                <button type="button" class="ui button" onclick="window.history.go(-1)"> 返回 </button>
                <button type="button" id="save-btn" class="ui secondary button"> 保存 </button>
                <button type="button" id="publish-btn" class="ui teal button"> 发布 </button>
            </div>
        </form>
    </div>
</div>

<br>
<br>
<br>
<!--底部footer-->
<footer th:replace="admin/_fragment :: footer" class="ui inverted segment vertical">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="four wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/images/wechat.jpg" class="ui rounded image" alt="我的微信 " style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header m-text-spaced m-text-thin">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事 (User Story)</a>
                    <a href="#" class="item">Java虚拟机系列</a>
                    <a href="#" class="item">HTTPS详解</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header m-text-spaced m-text-thin">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email:2810854200@qq.com</a>
                    <a href="#" class="item">QQ:2810854200</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header m-text-spaced m-text-thin">Blog</h4>
                <p class="m-opacity-mini m-text-spaced m-text-thin">欢迎各位来参观我的个人博客，在这里我会第一时间分享我的成长过程和学习心得，欢迎关注</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-opacity-tiny m-text-spaced m-text-thin">Copyright © 2020 HYN Designed by huangyaning</p>
    </div>
</footer>

<!--使用 thymeleaf 引入 js 依赖，这样注释之后在thymeleaf中仍然是有效的-->

<!--/*/<th:block th:replace="admin/_fragment :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="../../static/lib/editormd/editormd.min.js"></script>
<!--/*/</th:block>/*/-->

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown')
        .dropdown({
            on : 'hover'
        });

    $('#save-btn').click(function () {
        $('[name="published"]').val(false);
        $('#blog-form').submit();
    });
    $('#publish-btn').click(function () {
        $('[name="published"]').val(true);
        $('#blog-form').submit();
    });
    $('.ui.form').form({
        fields : {
            title : {
                identifier : 'title',
                rules : [{
                    type : 'empty',
                    prompt : '标题：请输入博客标题'
                }]
            },
            content : {
                identifier : 'content',
                rules : [{
                    type : 'empty',
                    prompt : '标题：请输博客内容'
                }]
            },
            typeId : {
                identifier : 'type.id',
                rules : [{
                    type : 'empty',
                    prompt : '标题：请输入博客分类'
                }]
            },
            firstPic : {
                identifier : 'firstPic',
                rules : [{
                    type : 'empty',
                    prompt : '标题：请添加博客首图'
                }]
            },
            description : {
                identifier : 'description',
                rules : [{
                    type : 'empty',
                    prompt : '标题：请添加博客描述'
                }]
            }
        }
    });

    //初始化 markdown 编辑器
    var contentEditor;

    $(function() {
        contentEditor = editormd("md-content", {
            width   : "100%",
            height  : 640,
            syncScrolling : "single",
            // path    : "../../static/lib/editormd/lib/"
            // 模板解析需要写成以下形式
            path    : "/lib/editormd/lib/"
        });

        /*
        // or
        testEditor = editormd({
            id      : "test-editormd",
            width   : "90%",
            height  : 640,
            path    : "../lib/"
        });
        */
    });
</script>
</body>
</html>