<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragment :: header(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分类管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

<!--导航-->
<nav th:replace="admin/_fragment :: menu(2)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">博客管理</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="small home icon"></i>博客</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="small idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="small tags icon"></i>标签</a>
            <div class="right menu m-item m-mobile-hide">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="https://i.picsum.photos/id/1003/100/100.jpg" class="ui avatar image" alt="">
                        HYN
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--菜单按钮,大屏时隐藏，手机端显示，toggle用于jQuery获取，menu可以让按钮样式正好合适,m-right-top定义按钮绝对位置，
     m-mobile-show设置按钮小屏显示，大屏不显示-->
    <a href="#" class="toggle menu ui black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--二级导航-->
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/types/input}" class="item">新增</a>
            <a href="#" th:href="@{/admin/types/input}" class="active teal item">列表</a>
        </div>
    </div>
</div>

<!--中间内容-->
<div class="m-padded-tb-big m-container-small">
    <div class="ui container">

        <!--提示消息-->
        <div class="ui success message close" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${message}">操作成功</p>
        </div>

        <table class="ui celled table">
            <thead>
                <tr>
                    <th></th>
                    <th>名称</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="type, iterStat : ${page.content}">
                    <td th:text="${iterStat.count}">1</td>
                    <td th:text="${type.name}">JVM</td>
                    <td>
                        <a href="#" th:href="@{/admin/types/{id}/input(id=${type.id})}" class="ui teal mini basic button">编辑</a>
                        <a href="#" th:href="@{/admin/types/{id}/delete(id=${type.id})}" class="ui red mini basic button">删除</a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="6">
                        <div class="ui pagination mini menu" th:if="${page.totalPages}>1">
                            <a th:href="@{/admin/types(page=${page.number}-1)}" class="item" th:unless="${page.first}">上一页</a>
                            <a th:href="@{/admin/types(page=${page.number}+1)}" class="item" th:unless="${page.last}">下一页</a>
                        </div>
                        <a href="#" th:href="@{/admin/types/input}" class="ui mini right floated teal basic button">新增</a>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<!--底部footer-->
<footer th:replace="admin/_fragment :: footer" class="ui inverted segment vertical m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="four wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/images/wechat.jpg" class="ui rounded image" alt="我的微信 " style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header m-text-spaced m-text-thin">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事 (User Story)</a>
                    <a href="#" class="item">Java虚拟机系列</a>
                    <a href="#" class="item">HTTPS详解</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header m-text-spaced m-text-thin">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email:2810854200@qq.com</a>
                    <a href="#" class="item">QQ:2810854200</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header m-text-spaced m-text-thin">Blog</h4>
                <p class="m-opacity-mini m-text-spaced m-text-thin">欢迎各位来参观我的个人博客，在这里我会第一时间分享我的成长过程和学习心得，欢迎关注</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-opacity-tiny m-text-spaced m-text-thin">Copyright © 2020 HYN Designed by huangyaning</p>
    </div>
</footer>

<!--使用 thymeleaf 引入 js 依赖，这样注释之后在thymeleaf中仍然是有效的-->

<!--/*/<th:block th:replace="admin/_fragment :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown')
        .dropdown({
            on : 'hover'
        });
    // 消息提示关闭初始化
    $('.ui.success.message')
        .on('click', function () {
            $(this)
            .closest('.message')
            .transition('fade');
    });
</script>
</body>
</html>