<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <!--包含Springboot对Logback的默认配置 -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!--重写Springboot框架 org/springframework/boot/logging/logback/console-appender.xml 配置-->
    <appender name="TIME_FILE"
                class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <!--保留历史日志一个月的时间-->
            <maxHistory>30</maxHistory>
            <!--Springboot默认情况下，日志文件10MB时会切份文件，这样设置让文件在10MB时进行切分-->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="TIME_FILE"/>
    </root>
</Configuration>
        <!--
        1、继承Springboot Logback 设置，可在application.yml中设置logging.*属性
        2、重写了默认配置，设置日志文件大小在100MB时，按日期切分日志，切分后目录：

            blog.2020-02-05.0  80MB
            blog.2020-02-05.1  10MB
            blog.2020-02-06.0  56MB
            blog.2020-02-07.0  53MB
            ......
        -->