<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragment :: header(~{::title})">
    <title>博客</title>
</head>
<body>

<!--导航-->
<nav th:replace="_fragment :: menu(1)"></nav>

<!--中间内容-->
<div class="m-padded-tb-big m-container">
    <div class="ui container">
        <div class="ui stackable grid">
            <!--左边博客列表-->
            <div class="eleven wide column">
                <!--header-->
                <div class="ui top attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header">博客</h3>
                        </div>
                        <div class="right aligned column">
                            共 <h3 class="ui orange header m-inline-block m-text-thin"> 14 </h3> 篇
                        </div>
                    </div>
                </div>
                <!--博客列表content-->
                <div class="ui attached segment">
                    <div class="ui padded vertical segment m-padded-tb-large">
                        <div class="ui stackable mobile reversed grid">
                            <div class="eleven wide column">
                                <h3 class="ui header">HTTPS 详解一：附带最精美详尽的 HTTPS 原理图</h3>
                                <p class="m-text">前言 作为一个有追求的程序员，了解行业发展趋势和扩充自己的计算机知识储备都是很有必要的，特别是一些计算机基础方面的内容，就比如本篇文章要讲的计算...</p>
                                <div class="ui stackable grid">
                                    <div class="eleven wide column">
                                        <div class="mini ui link list horizontal">
                                            <div class="item">
                                                <img src="https://i.picsum.photos/id/1003/100/100.jpg" class="ui avatar image" alt="">
                                                <div class="content"><a href="#" class="header">HYN</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 2020-1-26
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 666
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">HTTPS</a>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="https://i.picsum.photos/id/1003/800/450.jpg" alt="" class="ui rounded image">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ui padded vertical segment m-padded-tb-large">
                        <div class="ui stackable mobile reversed grid">
                            <div class="eleven wide column">
                                <h3 class="ui header">HTTPS 详解一：附带最精美详尽的 HTTPS 原理图</h3>
                                <p class="m-text">前言 作为一个有追求的程序员，了解行业发展趋势和扩充自己的计算机知识储备都是很有必要的，特别是一些计算机基础方面的内容，就比如本篇文章要讲的计算...</p>
                                <div class="ui stackable grid">
                                    <div class="eleven wide column">
                                        <div class="mini ui link list horizontal">
                                            <div class="item">
                                                <img src="https://i.picsum.photos/id/1003/100/100.jpg" class="ui avatar image" alt="">
                                                <div class="content"><a href="#" class="header">HYN</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 2020-1-26
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 666
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">HTTPS</a>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="https://i.picsum.photos/id/1003/800/450.jpg" alt="" class="ui rounded image">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ui padded vertical segment m-padded-tb-large">
                        <div class="ui stackable mobile reversed grid">
                            <div class="eleven wide column">
                                <h3 class="ui header">HTTPS 详解一：附带最精美详尽的 HTTPS 原理图</h3>
                                <p class="m-text">前言 作为一个有追求的程序员，了解行业发展趋势和扩充自己的计算机知识储备都是很有必要的，特别是一些计算机基础方面的内容，就比如本篇文章要讲的计算...</p>
                                <div class="ui stackable grid">
                                    <div class="eleven wide column">
                                        <div class="mini ui link list horizontal">
                                            <div class="item">
                                                <img src="https://i.picsum.photos/id/1003/100/100.jpg" class="ui avatar image" alt="">
                                                <div class="content"><a href="#" class="header">HYN</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 2020-1-26
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 666
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">HTTPS</a>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="https://i.picsum.photos/id/1003/800/450.jpg" alt="" class="ui rounded image">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ui padded vertical segment m-padded-tb-large">
                        <div class="ui stackable mobile reversed grid">
                            <div class="eleven wide column">
                                <h3 class="ui header">HTTPS 详解一：附带最精美详尽的 HTTPS 原理图</h3>
                                <p class="m-text">前言 作为一个有追求的程序员，了解行业发展趋势和扩充自己的计算机知识储备都是很有必要的，特别是一些计算机基础方面的内容，就比如本篇文章要讲的计算...</p>
                                <div class="ui stackable grid">
                                    <div class="eleven wide column">
                                        <div class="mini ui link list horizontal">
                                            <div class="item">
                                                <img src="https://i.picsum.photos/id/1003/100/100.jpg" class="ui avatar image" alt="">
                                                <div class="content"><a href="#" class="header">HYN</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 2020-1-26
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 666
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">HTTPS</a>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="https://i.picsum.photos/id/1003/800/450.jpg" alt="" class="ui rounded image">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ui padded vertical segment m-padded-tb-large">
                        <div class="ui stackable mobile reversed grid">
                            <div class="eleven wide column">
                                <h3 class="ui header">HTTPS 详解一：附带最精美详尽的 HTTPS 原理图</h3>
                                <p class="m-text">前言 作为一个有追求的程序员，了解行业发展趋势和扩充自己的计算机知识储备都是很有必要的，特别是一些计算机基础方面的内容，就比如本篇文章要讲的计算...</p>
                                <div class="ui stackable grid">
                                    <div class="eleven wide column">
                                        <div class="mini ui link list horizontal">
                                            <div class="item">
                                                <img src="https://i.picsum.photos/id/1003/100/100.jpg" class="ui avatar image" alt="">
                                                <div class="content"><a href="#" class="header">HYN</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 2020-1-26
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 666
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">HTTPS</a>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="https://i.picsum.photos/id/1003/800/450.jpg" alt="" class="ui rounded image">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ui padded vertical segment m-padded-tb-large">
                        <div class="ui stackable mobile reversed grid">
                            <div class="eleven wide column">
                                <h3 class="ui header">HTTPS 详解一：附带最精美详尽的 HTTPS 原理图</h3>
                                <p class="m-text">前言 作为一个有追求的程序员，了解行业发展趋势和扩充自己的计算机知识储备都是很有必要的，特别是一些计算机基础方面的内容，就比如本篇文章要讲的计算...</p>
                                <div class="ui stackable grid">
                                    <div class="eleven wide column">
                                        <div class="mini ui link list horizontal">
                                            <div class="item">
                                                <img src="https://i.picsum.photos/id/1003/100/100.jpg" class="ui avatar image" alt="">
                                                <div class="content"><a href="#" class="header">HYN</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 2020-1-26
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 666
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">HTTPS</a>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="https://i.picsum.photos/id/1003/800/450.jpg" alt="" class="ui rounded image">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ui padded vertical segment m-padded-tb-large">
                        <div class="ui stackable mobile reversed grid">
                            <div class="eleven wide column">
                                <h3 class="ui header">HTTPS 详解一：附带最精美详尽的 HTTPS 原理图</h3>
                                <p class="m-text">前言 作为一个有追求的程序员，了解行业发展趋势和扩充自己的计算机知识储备都是很有必要的，特别是一些计算机基础方面的内容，就比如本篇文章要讲的计算...</p>
                                <div class="ui stackable grid">
                                    <div class="eleven wide column">
                                        <div class="mini ui link list horizontal">
                                            <div class="item">
                                                <img src="https://i.picsum.photos/id/1003/100/100.jpg" class="ui avatar image" alt="">
                                                <div class="content"><a href="#" class="header">HYN</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 2020-1-26
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 666
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">HTTPS</a>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="https://i.picsum.photos/id/1003/800/450.jpg" alt="" class="ui rounded image">
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <!--footer 分页-->
                <div class="ui bottom attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <a href="#" class="ui mini teal basic button">上一页</a>
                        </div>
                        <div class="right aligned column">
                            <a href="#" class="ui mini teal basic button">下一页</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--右边布局-->
            <div class="five wide column">
                <!--分类-->
                <div class="ui segments">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="idea icon"></i> 分类
                            </div>
                            <div class="right aligned column">
                                <a href="#" target="_blank"> more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui teal segment">
                        <div class="ui vertical fluid menu">
                            <a href="#" class="item">
                                学习日志
                                <div class="ui teal basic left pointing label">66</div>
                            </a>
                            <a href="#" class="item">
                                学习日志
                                <div class="ui teal basic left pointing label">66</div>
                            </a>
                            <a href="#" class="item">
                                学习日志
                                <div class="ui teal basic left pointing label">66</div>
                            </a>
                            <a href="#" class="item">
                                学习日志
                                <div class="ui teal basic left pointing label">66</div>
                            </a>
                            <a href="#" class="item">
                                学习日志
                                <div class="ui teal basic left pointing label">66</div>
                            </a>
                        </div>
                    </div>
                </div>
                <!--标签-->
                <div class="ui segments m-margin-top-large">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="tags icon"></i> 标签
                            </div>
                            <div class="right aligned column">
                                <a href="#" target="_blank"> more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui teal segment">
                        <a href="#" target="_blank" class="ui teal basic label left pointing m-margin-tb-tiny">
                            JVM <div class="detail">23</div>
                        </a>
                        <a href="#" target="_blank" class="ui teal basic label left pointing m-margin-tb-tiny">
                            JVM <div class="detail">24</div>
                        </a>
                        <a href="#" target="_blank" class="ui teal basic label left pointing m-margin-tb-tiny">
                            HTTPS <div class="detail">23</div>
                        </a>
                        <a href="#" target="_blank" class="ui teal basic label left pointing m-margin-tb-tiny">
                            JVM <div class="detail">23</div>
                        </a>
                        <a href="#" target="_blank" class="ui teal basic label left pointing m-margin-tb-tiny">
                            JVM详解系列 <div class="detail">23</div>
                        </a>
                        <a href="#" target="_blank" class="ui teal basic label left pointing m-margin-tb-tiny">
                            JVM <div class="detail">23</div>
                        </a>
                    </div>
                </div>
                <!--最新推荐-->
                <div class="ui segments m-margin-top-large">
                    <div class="ui secondary segment">
                        <i class="bookmark icon"></i> 最新推荐
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank" class="m-black m-text-thin">面试题详解</a>
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank" class="m-black m-text-thin">面试题详解</a>
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank" class="m-black m-text-thin">面试题详解</a>
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank" class="m-black m-text-thin">面试题详解</a>
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank" class="m-black m-text-thin">面试题详解</a>
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank" class="m-black m-text-thin">面试题详解</a>
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank" class="m-black m-text-thin">面试题详解</a>
                    </div>
                </div>
                <!--二维码-->
                <h4 class="ui horizontal divider header m-margin-top-large">扫码关注我</h4>
                <div class="ui centered card" style="width: 11em">
                    <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" alt="" class="ui rounded image">
                </div>
            </div>
        </div>
    </div>
</div>

<!--底部footer-->
<footer th:replace="_fragment :: footer"></footer>

<!--使用 thymeleaf 引入 js 依赖，这样注释之后在thymeleaf中仍然是有效的-->

<!--/*/<th:block th:replace="_fragment :: script">/*/-->

<!--/*/</th:block>/*/-->

    <script>
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });
    </script>
</body>
</html>